
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<a aria-label="Log in to driver account"
   href="http://localhost:62044/Account/RegUser">

    <span class="_style_1shdOT">User SignUp</span>
</a>

<br />
<br />
<a aria-label="Log in to driver account"
   href="http://localhost:62044/Account/AdminReg">

    <span class="_style_1shdOT">Admin SignUp</span>
</a>

<br />
<br />
<a aria-label="Log in to Admin account"
   href="http://localhost:62044/Account/Driver">

    <span class="_style_1shdOT">Driver SignUp</span>
</a>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
