
@{
    ViewBag.Title = "Cars";
}

@*<h2>Cars</h2>*@
<body style="background-color:darkgray">

</body>
<div class="col-sm-6 col-md-4">
    <div href="#" class="thumbnail">
        <img src="~/images/Images/INDICA_OR_EQUIVALENT.jpg" />
       
        <p style="">AC | 4 Seats | 1 Luggage Bag</p>
        <span style="">HATCHBACK</span>
        <p style="">Indica, Swift or similar</p>
        <button onclick="window.location.href = 'http://localhost:62044/Bookings/Index1';" class="btn btn-info">Select Cab</button>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div href="#" class="thumbnail">
        <img src="~/images/Images/car2.jpg" />
        
        <p style="">AC | 4 Seats | 2 Luggage Bag</p>
        <span style="">SEDAN</span>
        <p style="">Dzire, Etios or similar</p>
        <button onclick="window.location.href = 'http://localhost:62044/Bookings/IndexForSedan';" class="btn btn-info">Select Cab</button>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div href="#" class="thumbnail">
        <img src="~/images/Images/car3.jpg" />
        
        <p style="">AC | 6 Seats | 3 Luggage Bag</p>
        <span style="">SVU</span>
        <p style="">Xylo, Ertiga or similar</p>
        <button onclick="window.location.href = 'http://localhost:62044/Bookings/IndexForSVU';" class="btn btn-info">Select Cab</button>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div href="#" class="thumbnail">
        <img src="~/images/Images/car4.jpg" />
       
        <p style="">AC | 4 Seats | 1 Luggage Bag</p>
        <span style="">HATCHBACK</span>
        <p style="">Indica, Swift or similar</p>
        <button onclick="window.location.href = 'http://localhost:62044/Bookings/IndexForHatchAC';" class="btn btn-info">Select Cab</button>
    </div>
</div>
<div class="col-sm-6 col-md-4">
    <div href="#" class="thumbnail">
        <img src="~/images/Images/car5.jpg" />
       
        <p style="">AC | 5 Seats | 2 Luggage Bag</p>
        <span style="">SEDAN</span>
        <p style="">Dzire, Etios or similar</p>
        <button onclick="window.location.href = 'http://localhost:62044/Bookings/IndexForSedan5';" class="btn btn-info">Select Cab</button>
    </div>
</div>

<div class="col-sm-6 col-md-4">
    <div href="#" class="thumbnail">
        <img src="~/images/Images/car7.jpg" />
       
        <p style="">AC | 3 Seats | 1 Luggage Bag</p>
        <span style="">SUZUKI</span>
        <p style="">Maruti S-cross</p>
        <button onclick="window.location.href = 'http://localhost:62044/Bookings/IndexSuzuki3';" class="btn btn-info">Select Cab</button>
    </div>

</div>


