
@{
    ViewBag.Title = "Index1";
}

<caption style="font-size:xx-large;font-weight:bolder"><br /><center />Fare Details For HATCHBACK Indica,Swift<br /></caption>

<html>
<head>
    @*<script src="lab4.1.js">
        </script>*@
</head>
<body style="        background-image: url('../../images/Images/background.jpg');
        background-repeat: no-repeat;
        background-size: 1280px">


    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="col-sm-6 col-md-offset-3">
        <div href="#" class="thumbnail">



            <table border="0" cellpadding="5" cellspacing="10">
                <tr></tr>
                <tr>

                    <th>Source Address</th>

                    <td style="margin: 10px; padding: 20px" ;>
                        <select name="pref" id="SourceAddress" onchange="calculate()">
                            <option value="Mumbai">Mumbai</option>
                            <option value="Pune">Pune</option>
                            <option value="Chennai">Chennai </option>
                            <option value="Banglore">Banglore </option>
                        </select>
                    </td>
                </tr>
                <tr></tr>
                <tr>

                    <th>Destination Address</th>
                    <td style="margin: 10px; padding: 20px">
                        <select name="pref" id="DestinationAddress" onchange="calculate()">
                            <option value="Kurnool">Kurnool</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="VijayWada">VijayWada </option>
                            <option value="Guntur">Guntur </option>
                        </select>
                    </td>
                </tr>
                @*<tr><th>Quantity:</th><td><input type="text" id="a4" /></td></tr>*@
                <tr><th style="margin: 10px; padding: 20px">Price :</th><td><input type="text" readonly id="a5" /></td></tr>
                

            </table>
            <a aria-label="BookNow" href="http://localhost:62044/Bookings/thankyou"> Confirm Booking</a>
        </div>
    </div>

</body
</html>
@section scripts {

    <script type="text/javascript">

        function calculate() {
            //string1="";

            string1 = document.getElementById("SourceAddress").value;
            string2 = document.getElementById("DestinationAddress").value;
            //alert(string1);
            //var quantity = document.getElementById("a4").value;
            //alert(quantity)
            //tv
            if (string1 == "Mumbai") {
                if (string2 == "Kurnool") {
                    total = 2000;
                }
                if (string2 == "Hyderabad") {
                    total = 3000;
                }
                if (string2 == "VijayWada") {
                    total = 3200;
                }
                if (string2 == "Guntur") {
                    total = 3700;
                }


                //alert(total);
                document.getElementById("a5").value = total;
            }
            //Laptop
            if (string1 == "Pune") {
                if (string2 == "Kurnool") {
                    total = 2850;
                }
                if (string2 == "Hyderabad") {
                    total = 3900;
                }
                if (string2 == "VijayWada") {
                    total = 4980;
                }
                if (string2 == "Guntur") {
                    total = 5890;
                }
                document.getElementById("a5").value = total;
            }
            //phone
            if (string1 == "Chennai") {
                if (string2 == "Kurnool") {
                    total = 2950;
                }
                if (string2 == "Hyderabad") {
                    total = 5890;
                }
                if (string2 == "VijayWada") {
                    total = 1590;
                }
                if (string2 == "Guntur") {
                    total = 2850;
                }

                //alert(total);
                document.getElementById("a5").value = total;
            }
            //soap
            if (string1 == "Banglore") {
                if (string2 == "Kurnool") {
                    total = 7850;
                }
                if (string2 == "Hyderabad") {
                    total = 1250;
                }
                if (string2 == "VijayWada") {
                    total = 6980;
                }
                if (string2 == "Guntur") {
                    total = 3500;
                }
                //alert(total);
                document.getElementById("a5").value = total;
            }




            return false;
        }


    </script>

}

