 <style>
    p {
        font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: -0.1px;
        color: black;
    }
</style>

<h1>CAATT Thanks You</h1>

<p>Your Booking has been Successful.</p>

<html>

<body style="
        background-image: url('../../images/Images/ThankYou1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-color: deepskyblue;
        margin-right: auto">
</body>
</html>