
@{
    ViewBag.Title = "Feedback";
}

<style>

    p {
        font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: -0.1px;
        color: orangered;
    }

    h2 {
        font-size: x-large;
        font-family: 'Times New Roman', Times, serif;
    }

    img {
        vertical-align: middle;
    }
</style>

<h1 align="center">CATT Taxis Customer Feedback Survey</h1>
<br />
<center>
    <img width="800px" src="~/Images/feedbackimage.jpg" />

</center>
<br />
<p>
    Simply complete the feedback form below and click the submit button.
    This information helps CATT Taxis improve our service and we greatly appreciate your input.
</p>


<h2 class="survey">
    When the taxi arrived, how would you rate the taxi cleanliness,
    driver attitude and presentation in general?
</h2>
<table width="86%" style="margin-left:8px;margin-bottom:10px;font-size:1.2em;color:#000000;">
    <tbody>
        <tr>
            <td class="survey">
                Excellent
                <input type="radio" name="nine" value="5">
            </td>
            <td class="survey">
                Good
                <input type="radio" name="nine" value="4">
            </td>
            <td class="survey">
                Satisfactory
                <input type="radio" name="nine" value="3">
            </td>
            <td class="survey">
                Poor
                <input type="radio" name="nine" value="2">
            </td>
            <td class="survey">
                Very Poor
                <input type="radio" name="nine" value="1">
            </td>
        </tr>
    </tbody>
</table>


<h2 class="survey">
    Would you travel with CATT Taxis in the future?
</h2>
<table width="86%" style="margin-left:8px;margin-bottom:10px;font-size:1.2em;color:#000000;">
    <tbody>
        <tr>
            <td class="survey">
                Excellent
                <input type="radio" name="nine" value="5">
            </td>
            <td class="survey">
                Good
                <input type="radio" name="nine" value="4">
            </td>
            <td class="survey">
                Satisfactory
                <input type="radio" name="nine" value="3">
            </td>
            <td class="survey">
                Poor
                <input type="radio" name="nine" value="2">
            </td>
            <td class="survey">
                Very Poor
                <input type="radio" name="nine" value="1">
            </td>
        </tr>
    </tbody>
</table>

<h2 class="survey">
    Would you recommend CATT Taxis to others?
</h2>
<table width="86%" style="margin-left:8px;margin-bottom:10px;font-size:1.2em;color:#000000;">
    <tbody>
        <tr>
            <td class="survey">
                Excellent
                <input type="radio" name="nine" value="5">
            </td>
            <td class="survey">
                Good
                <input type="radio" name="nine" value="4">
            </td>
            <td class="survey">
                Satisfactory
                <input type="radio" name="nine" value="3">
            </td>
            <td class="survey">
                Poor
                <input type="radio" name="nine" value="2">
            </td>
            <td class="survey">
                Very Poor
                <input type="radio" name="nine" value="1">
            </td>
        </tr>
    </tbody>
</table>

<h2 class="survey">
    During your taxi trip, please rate whether the driver assisted you with
    luggage and/or getting into out of the taxi?
</h2>
<table width="86%" style="margin-left:8px;margin-bottom:10px;font-size:1.2em;color:#000000;">
    <tbody>
        <tr>
            <td class="survey">
                Excellent
                <input type="radio" name="nine" value="5">
            </td>
            <td class="survey">
                Good
                <input type="radio" name="nine" value="4">
            </td>
            <td class="survey">
                Satisfactory
                <input type="radio" name="nine" value="3">
            </td>
            <td class="survey">
                Poor
                <input type="radio" name="nine" value="2">
            </td>
            <td class="survey">
                Very Poor
                <input type="radio" name="nine" value="1">
            </td>
        </tr>
    </tbody>
</table>

<h2 class="survey">
    Please rate how your drivers road skills were, did you feel safe and comfortable?
</h2>
<table width="86%" style="margin-left:8px;margin-bottom:10px;font-size:1.2em;color:#000000;">
    <tbody>
        <tr>
            <td class="survey">
                Excellent
                <input type="radio" name="nine" value="5">
            </td>
            <td class="survey">
                Good
                <input type="radio" name="nine" value="4">
            </td>
            <td class="survey">
                Satisfactory
                <input type="radio" name="nine" value="3">
            </td>
            <td class="survey">
                Poor
                <input type="radio" name="nine" value="2">
            </td>
            <td class="survey">
                Very Poor
                <input type="radio" name="nine" value="1">
            </td>
        </tr>
    </tbody>
</table>

<h2 class="survey">
    When booking a taxi in advance were you told of possible delays?
</h2>
<table width="86%" style="margin-left:8px;margin-bottom:10px;font-size:1.2em;color:#000000;">
    <tbody>
        <tr>
            <td class="survey">
                Excellent
                <input type="radio" name="nine" value="5">
            </td>
            <td class="survey">
                Good
                <input type="radio" name="nine" value="4">
            </td>
            <td class="survey">
                Satisfactory
                <input type="radio" name="nine" value="3">
            </td>
            <td class="survey">
                Poor
                <input type="radio" name="nine" value="2">
            </td>
            <td class="survey">
                Very Poor
                <input type="radio" name="nine" value="1">
            </td>
        </tr>
    </tbody>
</table>

<h2 class="survey">
    How would you rate this web site for its information, ease of use and look?
</h2>
<table width="86%" style="margin-left:8px;margin-bottom:10px;font-size:1.2em;color:#000000;">
    <tbody>
        <tr>
            <td class="survey">
                Excellent
                <input type="radio" name="nine" value="5">
            </td>
            <td class="survey">
                Good
                <input type="radio" name="nine" value="4">
            </td>
            <td class="survey">
                Satisfactory
                <input type="radio" name="nine" value="3">
            </td>
            <td class="survey">
                Poor
                <input type="radio" name="nine" value="2">
            </td>
            <td class="survey">
                Very Poor
                <input type="radio" name="nine" value="1">
            </td>
        </tr>
    </tbody>
</table>

<h2 class="survey" style="margin-left:20px;font-size:1.2em;">
    Please add any additional comments here
</h2>
<textarea rows="7" cols="50" name="remarks" style="margin-left:20px;"></textarea>

<center>
    <a href="http://localhost:54770/Home/Thankyou"
       class="btn btn-primary avail-now-btn" role="button" target="_black">Submit</a>
</center>

