@*@model IEnumerable<Project.Models.GetFair>

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                        <h2 style="text-align:right; font-size:xx-large ;color:black">Need a Car?</h2>
                        <h3 style="text-align:right; font-size:large ;color:black">We have Many Options</h3>
                        <div class="col-md-offset-5 col-md-8">
                            <h4 style="text-align:right; font-size:large ;color:white">
                                Wanna Ride? think of CAATT
                            </h4>
                            <h4 style="text-align:right; font-size:large ;color:white">
                                Best Ride Along With Safety...
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<html>

<body style="background-image: url('../../images/background.png');
                                background-repeat:no-repeat;background-size:auto; background-color:deepskyblue; margin-right:auto">
</body>
</html>

<div class="col-md-offset-5 col-md-3">
    <div class="col-md-offset-10 col-md-9">
        <img src="~/images/customer3.jpg" ;style="position:static" />
        <p><a class="btn btn-success center-block" href="http://localhost:62044/Customers/Index">Customer Login</a></p>
    </div>
    <div class="col-md-offset-10 col-md-9">
        <img src="~/images/admin3.jpg" ; style="position:static" />
        <p><a class="btn btn-primary center-block" href="http://localhost:62044/Admins/Index">Admin Login</a></p>

    </div>
    <div class="col-md-offset-10 col-md-9">
        <img src="~/images/driver2.jpg" ;style="position:static" />
        <p><a class="btn btn-warning center-block" href="http://localhost:62044/Employees/Index">Driver Login</a></p>
    </div>
    @*<a href="~/Views/Employees/Index.cshtml">~/Views/Employees/Index.cshtml</a>*@


    @*<div class="row">
        <div class="col-lg-pull-12">
            <img src="~/images/feedback.jpg" />Customers Opinion Matters A Lot....
            <p><a class="btn btn-danger center-block" href="">Lets Look at Reviews</a></p>

        </div>
    </div>

</div>*@

@model IEnumerable<Project.Models.GetFair>

@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <div class="container">
                <div class="row">
                    <div class="col-md-offset-2 col-md-5">
                        <h2 style="text-align:right; font-size:xx-large ;color:black">Need a Car?</h2>
                        <h3 style="text-align:right; font-size:large ;color:black">We have Many Options</h3>
                        <div class="col-md-offset-5 col-md-8">
                            <h4 style="text-align:right; font-size:large ;color:white">
                                Wanna Ride? think of CAATT
                            </h4>
                            <h4 style="text-align:right; font-size:large ;color:white">
                                Best Ride Along With Safety...
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<html>

<body style="background-image: url('../../images/background.png');
                                background-repeat:no-repeat;background-size:auto; background-color:deepskyblue; margin-right:auto">
</body>
</html>

<div class="col-md-offset-5 col-md-3">
    <div class="col-md-offset-10 col-md-9">
        <img src="~/images/customer3.jpg" ;style="position:static" />
        <p><a class="btn btn-success center-block" href="http://localhost:62044/Account/UserLogin">Customer Login</a></p>
    </div>
    <div class="col-md-offset-10 col-md-9">
        <img src="~/images/admin3.jpg" ; style="position:static" />
        <p><a class="btn btn-primary center-block" href="http://localhost:62044/Account/AdminLogin">Admin Login</a></p>

    </div>
    <div class="col-md-offset-10 col-md-9">
        <img src="~/images/driver2.jpg" ;style="position:static" />
        <p><a class="btn btn-warning center-block" href="http://localhost:62044/Account/DriverLogin">Driver Login</a></p>
    </div>

    <hr style="display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;" />
    <div style="font-weight:bolder; font-size:xx-large">
        WHY TO RIDE WITH CAATT
    </div>
         </div>
<div style="font-weight:bolder;font-size:xx-large">

    <img src="~/images/safe.jpg" style="border:solid" /> Our Commitment To Safety
    <div style="font-weight:bold; font-size:large">
        You deserve to be able to move safely. To look forward to the opportunities ahead. To be connected to people and places that matter most. Which is why we’re focused on your safety, from setting new standards to developing technology with the goal of reducing incidents.
    </div>
</div>
<hr style="display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;" />

<div style="font-weight:bolder;font-size:xx-large">

    <img src="~/images/girl.gif" style="border:solid" /> CAATT needs partners like you.
    <div style="font-weight:bold; font-size:large">
        Drive with Uber and earn great money as an independent contractor. Get paid weekly just for helping our community of riders get rides around town. Be your own boss and get paid in fares for driving on your own schedule.
    </div>
</div>
<hr style="display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;" />
<div style="font-weight:bolder;font-size:xx-large">

    <img src="~/images/safebaby.jpg" style="border:solid;width:250px;height:200px" /> We Care Even For Your Loved Ones..!
    <div style="font-weight:bold; font-size:large">
        Adjustment and soft-touch area on the handle for comfortable carrying and chest pads for your child's comfort
        Four positions handle adjustment can be used as infant baby car seat, carry cot, rocker and feeding chair, when handle used in different positions
    </div>
</div>









