
@{
    ViewBag.Title = "Thankyou";
}
<style>
    h2 {
        font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: -0.1px;
        color: orangered;
    }
</style>
<br />
<br />
<center>
    <img width="800px" src="~/Images/ThankYou.jpg" />
</center>
<h2 style="text-align:center;">
    Thank you, your answers
    <br>have been successfully submitted.
</h2>

<h2 style="text-align:center;">CATT Taxis greatly appreciates your input.</h2>


