@{
    ViewBag.Title = "AboutUs";
}
<link href="~/Content/ash.css" rel="stylesheet" />

<style>

    p {
        font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
        font-size: 22px !important;
        line-height: 33px !important;
        letter-spacing: -0.1px !important;
        color: hsla(0,0%,0%,.9) !important;
    }

    img {
        vertical-align: middle;
    }
</style>

<div class="_style_3F0GUg">
    <h1 class="_style_JhRN5" id="maincontent" align="center">About Us</h1>
</div>
<div class="_style_3F0GUg">
    <h2 class="_style_3zqtIs" align="center">We ignite opportunity by setting the world in motion</h2>
</div>
<img alt="Our rider walks to her driver's car" aria-label="Our rider walks to her driver's car"
     class="_style_28sQ7X"
     src="https://d1goeicueq33a8.cloudfront.net/chameleon-assets/v1.0.0/34fde971-5992-4a92-940b-2e43d12f1e33/desk.jpg">
<br />
<br />

<div class="wcb-markdown wcb2__markdown">
    <p class="cmln__paragraph">

        Good things happen when people can move, whether across town or towards their dreams.
        Opportunities appear, open up, become reality.
        What started as a way to tap a button to get a ride has led to billions of moments of
        human connection as people around the world go all kinds of places in all kinds of
        ways with the help of our technology.

    </p>
</div>
<br />
<br />


@*<img alt="Our rider leans out a car window and enjoys the breeze"
     aria-label="Our rider leans out a car window and enjoys the breeze"
     class="_style_28sQ7X"
     src="https://d1goeicueq33a8.cloudfront.net/chameleon-assets/v1.0.0/98309784-19e3-41e1-b8db-6ec9d0ab1157/desk.jpg">*@
<br />
<br />
<p class="_style_2FIaqk" data-reactid="422">Offerings</p>
<h2 class="_style_teSsP" data-reactid="423">Rides and beyond</h2>
<p class="cmln__paragraph">
    In addition to helping you get from point A to point B, we're working to bring the future closer with
    self-driving technology and urban air transport, helping people order food quickly and affordably, removing barriers to healthcare,
    creating new freight-booking solutions, and helping companies provide a seamless
</p>

@*<img alt="Shield with a checkmark on it"
     aria-label="Shield with a checkmark on it"
     class="_style_28sQ7X"
     @*src="https://d1goeicueq33a8.cloudfront.net/chameleon-assets/v1.0.0/9ed473d1-4aa2-4d2d-a024-bef50204c2b4/desk.png">*@

<p class="cmln__paragraph">
    Whether you’re in the back seat or behind the wheel,
    your safety is essential. We are committed to doing our part, and technology
    is at the heart of our approach. We partner with safety advocates and develop
    new technologies and systems to help create a world where it’s safe and easy for everyone to get around.
</p>
<br />
<br />
<h2 class="_style_teSsP">Company info</h2>
<p class="cmln__paragraph">
    Transportation isn’t the only thing we’re changing
    through our technology. We’re building a culture within CAATT that emphasizes
    doing the right thing, period, for riders, drivers, and employees.
    Find out more about the team that’s leading the way.
</p>

<p class="cmln__paragraph">
    Transportation isn’t the only thing we’re changing through our technology.
    We’re building a culture within CAATT that emphasizes doing the right thing, period, for riders,
    drivers, and employees. Find out more about the team that’s leading the way.
</p>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              href="https://www.uber.com/business"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                target="_blank">employee travel</> experience.</p>



