@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<img width="1200px" src="~/images/Images/contactus.jpg"  />
<style>
    address {
        font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, sans-serif !important;
        font-size: 20px;
        line-height: 33px;
        letter-spacing: -0.1px;
        color: cadetblue;
    }
</style>

<address>
    Meet us at<br />
    Plant2,C-Wing<br />
    Godrej & Boyce Compound<br />
    LBS Marg,Vikhroli(West),Mumbai-400079
    <abbr title="Phone">P:</abbr>
    8425967585<br />
    7013011152<br />
    8500410809
</address>

<address>
    <strong>Support:</strong>chaitanyakatha@gmail.com</a><br />
    <strong>Marketing:</strong>tejaswikodali1447@gmail.com</a>
</address>

<h2 class="" data-lang-key="Headertop">Let's get in touch and get to work.</h2>
<img width="800px" height="300" src="https://businesses.uber.com/rs/732-DID-644/images/icon3.svg">
<h3 align="center" data-lang-key="benefits4.header">No more reimbursements</h3>
<p align="center" data-lang-key="benefits4.body">All of your team's CATT rides on the same bill, so you can rest easy.</p>